 #rubyrails, #drupal, #java, #csharp, #design, #rejection {
   display: none;


 }

.label {
  width:300px;
}

.btn  {
    display: block;
    margin: auto;
}

#logo {
  display: block;
  margin: auto;
  margin-top: 50px;
}
