 #rubyrails, #drupal, #java, #csharp, #design, #rejection, #suggest {
   display: none;

 }

.label {
  width:300px;
}

.btn  {
    display: block;
    margin: auto;
}

#logo {
  display: block;
  margin: auto;
  margin-top: 50px;
  height: 30%;
  width: 30%;
}

img {

  display: block;
  margin: auto;
  width: 100%;
  height: 100%;
}

.bg-primary {
  font-size: 1.5em;
}
